<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Vue / 도움되는 콘솔 경고를 포함한 개발 버전 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>To do</title>
  <style>
    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1 v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">Todo APP</h1>

    <select v-model="showMode">
      <option value="all">all</option>
      <option value="notCompleted">notCompleted</option>
      <option value="completed">completed</option>
    </select>


    <ul>
      <li 
        v-for="todo in todoByShowMode" 
        v-bind:class="{ completed: todo.completed }"
        v-bind:key="todo.id"><!-- v-if="!todo.completed" @click="toggleTodo(todo)"> -->
        <input type="checkbox" v-model="todo.completed">
        {{ todo.content }}
      </li>
      <!-- <li v-else v-on:click="toggleTodo(todo)">[완료!]</li> -->
    </ul>
    <input v-model="newTodo" type="text" v-on:keydown.enter="addTodo">
    <footer>
      <button @click="clearCompleted">Clear Completed</button>
    </footer>

  </div>


  <script>
    const STORAGE_KEY = 'vue-todos'
    const todoStorage = {
      fetch: function() {
        // String => Array
        return JSON.parse(localStorage.getItem(STORAGE_KEY))
      },
      save: function(todos) {
        // Array => String
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      },
    }


    const app = new Vue({
      el: '#app',
      data: {
        todos: [
        //   {
        //     id: 1,
        //     content: '저녁 메뉴 고민하기',
        //     completed: true,
        //   },
        //   {
        //     id: 2,
        //     content: '사다리 타기',
        //     completed: false,
        //   },
        //   {
        //     id: 3,
        //     content: '약속의 2시 낮잠자기',
        //     completed: false,
        //   },
        //   {
        //     id: 4,
        //     content: '야자하기',
        //     completed: false,
        //   },
        ],
        newTodo: '',
        activeColor: 'red',
        fontSize: 30,
        showMode: 'all',
      },
      methods: {
        // toggleTodo: function(todo) {
        //   todo.completed = !todo.completed
        // },
        addTodo: function() {
          if (this.newTodo) {
            this.todos.push({
              id: new Date().getTime(),
              content: this.newTodo,
              completed: false,
            })
            this.newTodo = ''

            todoStorage.save(this.todos)
          }
        },
        // clearCompleted: function() {
        //   // Completed 가 true 인 모든 todo 를 리스트에서 삭제한다.
        //   const tempObject = []
        //   this.todos.forEach(todo => {
        //     if (!todo.completed) {
        //       tempObject.push(todo)
        //     }
        //   })
        //   this.todos = tempObject
        // },
        clearCompleted: function() {
          // this.todos = this.todos.filter(todo => !todo.completed)
          this.todos = this.todos.filter(todo => {
            return !todo.completed
          })
          todoStorage.save(this.todos)
        },
        
      },
      computed: {
        reversedNewTodo: function() {
          return this.newTodo.split('').reverse().join('')
        },
        todoByShowMode: function() {
          if (this.showMode === 'notCompleted') {
            return this. todos.filter(todo => {
              return !todo.completed
            })
          } else if (this.showMode === 'completed') {
            return this.todos.filter(todo => {
              return todo.completed
            })
          } else { // === 'all'
            return this.todos
          }
        },
      },
      created() {
        this.todos = todoStorage.fetch()
      },
      watch: { // 특정 데이터가 바뀔 때 마다 실행하는 함수를 정의하는 곳
        todos: { // todos 라는 data가 바뀔 때마다
          handler: function() { // 실행되는 함수
            todoStorage.save(this.todos)
          },
          deep: true,
        }
      }
    })
  </script>
</body>
</html>